<mat-toolbar color="primary" class="navbar">

    <span class="logo" routerLink="/categorias">
        <mat-icon>construction</mat-icon>
        Milotuercas
    </span>

    <span class="spacer"></span>

    <div class="botones">
        <button mat-icon-button routerLink="/carrito" class="boton">Sobre Nosotros</button>
        <button mat-icon-button routerLink="/productos" class="boton">Productos</button>
        <button mat-icon-button routerLink="/contacto"  class="boton">Contáctanos</button>

        <div class="icono-btns">
            <button mat-icon-button class="icono-btn carrito-btn" routerLink="/carrito" [matBadge]="cantidadProductos$ | async">
                <mat-icon>shopping_cart</mat-icon>
            </button>

            <button mat-icon-button class="icono-btn" routerLink="/iniciar-sesion">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>

</mat-toolbar>