@if (producto$ | async; as producto) {
<div class="container">
    <div class="detalle-producto page">
        <app-imagen-producto class="item imagen-producto" [imagen]="producto.imagen"></app-imagen-producto>
        <app-info-producto class="item info-producto" [nombre]="producto.nombre" [precio]="producto.precio"
            [descripcion]="producto.descripcion" [stock]="producto.stock" [producto]="producto">
        </app-info-producto>
    </div>
    @if (mostrarMenuCarrito) {
        <app-sidebar-carrito class="sidebar-carrito"></app-sidebar-carrito>
    }

</div>
}