.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.detalle-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    padding:
        calc(var(--navbar-height) + 30px)
        30px
        40px;
}

.detalle-producto {
    width: 100%;
    max-width: 1000px;

    display: flex;

    min-height: 450px;

    background-color: var(--color-card-background);

    border: 1px solid var(--color-border);
    border-radius: 10px;

    box-shadow: var(--shadow);

    overflow: hidden;

    max-height: 500px;
}

.item {
    flex: 1;
    max-height: 500px;
}

.sidebar-carrito {
    width: 400px;
    flex-shrink: 0;

    height: calc(100vh - var(--navbar-height));

    position: sticky;
    top: var(--navbar-height);

    background-color: var(--color-card-background);

    border-left: 1px solid var(--color-border);

    box-shadow: var(--shadow-sidebar);

    overflow-y: auto;

    animation: aparecerCarrito 0.7s ease;
}

@keyframes aparecerCarrito {

    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    60% {
        transform: translateX(-10px);
        opacity: 1;
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}