<section class="footer">
    <div>
        <span class="logo" routerLink="/productos">
            Milotuercas
        </span>
    </div>
    <div class="contactanos">
        <h2>Contáctanos</h2>
        <span><mat-icon>south_america</mat-icon>
            Atención a nivel nacional
        </span>
        <span><mat-icon>call</mat-icon>
            (+57) 313 793 03 02
        </span>
        <span><mat-icon>mail</mat-icon>
            info@milotuercas.com
        </span>
        <span><mat-icon>schedule</mat-icon>
            Lunes a Viernes 08:00 am a 05:30 pm <br>
            Sábados 08:00 am a 02:00 pm
        </span>
    </div>
    <div class="mas-info">
        <h2>Más información</h2>
        <button mat-icon-button class="icono-btn" routerLink="/nosotros">
            <mat-icon>diversity_3</mat-icon> Sobre nosotros
        </button>
        <button mat-icon-button class="icono-btn" routerLink="/sedes">
            <mat-icon>domain</mat-icon> Nuestras sedes
        </button>
        <button mat-icon-button class="icono-btn" routerLink="/productos">
            <mat-icon>shopping_cart</mat-icon> Compra en linea
        </button>
    </div>
</section>